<div class="gnb-bar for-pc">
  <div class="container">
    <div class="gnb-menus-wrapper">
      <h1 class="logo"><span class="img-logo"></span></h1>
      <ul class="gnb-menus">
        <li><a href="">여행상품</a></li>
        <li><a href="">클립</a></li>
        <li><a href="">공모전</a></li>
        <li><a href="">피드</a></li>
      </ul>
    </div>

    <ul class="util-menus">
      <!-- <li><a href="#">로그인</a></li>
      <li><a href="#">회원가입</a></li> -->
      <li><a href="#" class="add"><span class="menu-add black"></span></a></li>
      <li><a href="#" class="notification"><span class="menu-notification black"></span></a></li>
      <li><a href="#" class="cart"><span class="menu-cart black"></span></a></li>
      <li><a href="">
          <span class="profile bg-cover"
            style="background-image:url('https://news.kbs.co.kr/data/fckeditor/new/image/2021/05/07/314691620354493423.jpg')"></span>
        </a></li>
      <li>
        <a href="" class="btn-start">바로 시작하기</a>
      </li>
    </ul>
  </div>
</div>