<div class="header-title-bar for-m">
  <div class="container">
    <div class="header-left">
      <a href="" class="button-back" id="headerBack"><span class="icon-back"></span></a>
    </div>
    <div class="header-center">
      <h1 class="header-title" id="headerTitle"></h1>
    </div>
    <div class="header-right">
      <a href="" class="button-close" id="headerClose"><span class="icon-close"></span></a>
    </div>
  </div>
</div>

<div class="gnb-bar for-pc">
  <div class="container">
    <div class="gnb-menus-wrapper">
      <h1 class="logo"><span class="img-logo"></span></h1>
      <ul class="gnb-menus">
        <li><a href="">여행상품</a></li>
        <li><a href="">클립</a></li>
        <li><a href="">공모전</a></li>
        <li><a href="">피드</a></li>
      </ul>
    </div>


    <ul class="util-menus">
      <li><a href="">피드추가</a></li>
      <li><a href="">알림</a></li>
      <li><a href="">장바구니</a></li>
      <li><a href="">
          <img src="" alt="">
        </a></li>
      <li>
        <a href="">바로 시작하기</a>
      </li>
    </ul>

  </div>
</div>