<ul>
  <li class="nav-home">
    <a href="#"><span class="icon on"></span><span class="name">home</span></a>
  </li>
  <li class="nav-feed">
    <a href="#"><span class="icon"></span><span class="name">feed</span></a>
  </li>
  <li class="nav-search">
    <a href="#"><span class="icon"></span><span class="name">search</span></a>
  </li>
  <li class="nav-contest">
    <a href="#"><span class="icon"></span><span class="name">contest</span></a>
  </li>
  <li class="nav-my">
    <a href="#"><span class="icon"></span><span class="name">my</span></a>
  </li>
</ul>