@charset "utf-8";

@import "mixins"; // mixins
@import "reset"; // mixins

@import "var";
@import "common";
@import "layout";
@import "component";
@import "popup";

@keyframes radialProgress1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes radialProgress2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

body {
    &.PLATFORM-WINDOWS.BROWSER-INTERNETEXPLORER {
        .visual {
            .blur {
                &:after {
                    background-color: rgba(0, 0, 0, .5);
                }
            }
        }
    }
}



#main {}

.wrapper {
    max-width: $content-width-container;
    margin: 0 auto;

    .products {
        &:last-child {
            padding-bottom: 0;
        }
    }
}

.visual {
    position: relative;
    padding-bottom: 83px;
    height: 85vh;
    overflow: hidden;

    .logo {
        position: absolute;
        left: 0;
        top: 0;
        padding: 19px;
        align-items: center;
        z-index: 6;
        font-size: .7em;
        font-family: NanumMyeongjo;
        line-height: 1.5;
        display: flex;

        span {
            width: 124px;
            height: 27px;
            display: block;
            margin-right: 13px;
            @include background-ratio3x('/res/images/logo_bk.png', 124px 27px);
        }
    }

    .products {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 83px;

        li {
            position: absolute;
            left: 0;
            right: 0;
            top: -100%;
            height: 100%;
            opacity: 0;
            transition: opacity 1s;

            &.hide {
                opacity: 0;
                transition: opacity 1s;
            }

            &.active {
                top: 0;
                opacity: 1;
            }

            a {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .group {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 100%;
                max-width: $content-width-container;
                z-index: 5;
            }

            .cover {
                position: absolute;
                display: block;
                background-size: cover;
                background-position: center center;
                left: 0;
                right: 0;
                top: 0;
                bottom: 150px;

                img {
                    display: none;
                    width: 100%;
                    height: 100%;
                }
            }

            .info {
                text-align: right;
                padding: 12px 15px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 130px;

                .brand {
                    display: block;
                    font-size: 1.05em;
                    font-weight: 200;
                }

                .name {
                    display: block;
                    font-weight: bold;
                    font-size: 1.3em;
                    line-height: 1.2;
                    margin-top: 7px;
                    @include text-cut;
                }

                .pricebar {
                    font-size: 1.4em;
                    margin-top: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .regular {
                        //text-decoration: line-through;
                        font-family: Lato;
                        font-weight: normal;
                        color: #949eaf;
                        display: flex;
                        align-items: center;
                        position: relative;

                        &:after {
                            display: block;
                            height: .5px;
                            background-color: rgb(148, 158, 175);
                            content: '';
                            position: absolute;
                            left: 0;
                            right: 0;
                        }
                    }

                    .selling {
                        margin-left: 5px;

                        span {
                            font-weight: bold;
                            font-family: Lato;
                        }
                    }
                }
            }

            .tags {
                display: block;
                font-size: .9em;
                font-weight: 200;
                opacity: .5;
                margin-top: 5px;
            }

            .expire {
                margin-top: 5px;

                .datetime {
                    display: inline-block;
                    color: $color-red;
                    font-size: .8em;
                    font-weight: bold;
                    border: 1px solid $color-red;
                    border-radius: 10px;
                    padding: 3px 8px;
                }
            }
        }
    }

    .blur {
        display: none;
        position: absolute;
        left: -10%;
        top: -10%;
        width: 120%;
        height: 120%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        filter: blur(17px);
        -webkit-filter: blur(17px);
    }

    .pager {
        overflow: auto;
        position: absolute;
        height: 83px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;

        ul {
            @include clear-float;
            padding: 8px 8px;

            li {
                float: left;
                padding: 6px;

                &.active {
                    button {
                        opacity: 1;

                        .progress {
                            .progress-left {
                                .progress-bar {
                                    animation: radialProgress2 2.5s linear forwards 2.5s;
                                }
                            }

                            .progress-right {
                                .progress-bar {
                                    animation: radialProgress1 2.5s linear forwards;
                                }
                            }
                        }
                    }
                }

                button {
                    opacity: .3;
                    display: block;
                    width: 55px;
                    height: 55px;
                    border-radius: 100%;
                    cursor: pointer;
                    background-size: cover;
                    transition: opacity .3s;
                    position: relative;

                    &:hover {
                        opacity: 1;
                    }

                    .progress {
                        display: block;
                        background: none;
                        margin: 0 auto;
                        box-shadow: none;
                        position: absolute;
                        left: -1px;
                        top: -1px;
                        right: -1px;
                        bottom: -1px;

                        &>span {
                            width: 50%;
                            height: 100%;
                            overflow: hidden;
                            position: absolute;
                            top: 0;
                            z-index: 1;
                        }

                        .progress-left {
                            left: 0;

                            .progress-bar {
                                left: 100%;
                                border-top-right-radius: 80px;
                                border-bottom-right-radius: 80px;
                                border-left: 0;
                                -webkit-transform-origin: center left;
                                transform-origin: center left;
                                //animation: radialProgress2 1.5s linear forwards 2.5s;
                            }
                        }

                        .progress-right {
                            right: 0;

                            .progress-bar {
                                left: -100%;
                                border-top-left-radius: 80px;
                                border-bottom-left-radius: 80px;
                                border-right: 0;
                                -webkit-transform-origin: center right;
                                transform-origin: center right;
                                //animation: radialProgress1 2.5s linear forwards;
                            }
                        }

                        .progress-bar {
                            width: 100%;
                            height: 100%;
                            background: none;
                            border-width: 2px;
                            border-style: solid;
                            position: absolute;
                            top: 0;
                            border-color: $color-main;
                        }
                    }

                }
            }
        }
    }

    // .progress {
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;

    //     &:after {
    //         display: block;
    //         content: '';
    //         height: 2px;
    //         background-color: $color-main;
    //         width: 0;
    //     }

    //     &.active {
    //         &:after {
    //             transition: width 5s linear;
    //             width: 100%;
    //         }
    //     }
    // }

    @include responsive-to {
        overflow: hidden;
        max-height: 560px;
        padding-bottom: 0;

        .logo {
            display: none;
        }

        .products {
            bottom: 0;

            li {
                .group {
                    height: 330px;
                    bottom: 53px;
                    top: auto;
                }

                .cover {
                    position: absolute;
                    left: auto;
                    right: 3%;
                    top: 50%;
                    width: 330px;
                    height: 330px;
                    margin-top: -165px;
                    border-radius: 20px;
                    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.16);
                }

                .info {
                    right: 3%;
                    margin-right: 345px;
                    bottom: 65px;
                    height: auto;
                    color: #fff;
                }
            }
        }

        .blur {
            display: block;

            &:after {
                display: block;
                content: '';
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, .1);
                position: absolute;
            }
        }

        .pager {
            width: 100%;
            max-width: $content-width-container;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 40px;
            display: flex;
            justify-content: flex-end;
            padding-right: 3%;

            ul {
                margin-right: 335px;
            }
        }
    }
}

// 신규 브랜드
.new-brands {
    position: relative;

    .brand-wrap {
        overflow: auto;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }

    .control-next,
    .control-prev {
        position: absolute;
        top: 50%;
        width: 35px;
        height: 35px;
        margin-top: -50px;
        background-color: rgb(242, 242, 242);
        border-radius: 100%;
        overflow: hidden;
        text-indent: -5000px;
        display: none;

        &:before,
        &:after {
            display: block;
            position: absolute;
            content: '';
            left: 35%;
            right: 35%;
            top: 50%;
            //width: 50%;
            height: 1px;
            background-color: #000;
            transform-origin: left center;
            opacity: .5;

        }

        &:before {
            transform: rotate(40deg);
        }

        &:after {
            transform: rotate(-40deg);
        }
    }

    .control-prev {
        right: 100%;
    }

    .control-next {
        left: 100%;

        transform: rotate(180deg)
    }

    .brands {
        @include clear-float;
        width: 3000px;
        padding: 10px 0 20px 0;

        .item {
            float: left;
            width: 300px;

            a {
                display: block;
                padding-left: 5px;
                padding-right: 5px;

                .cover {
                    display: block;
                    width: 100%;
                    height: 200px;
                    border-radius: 12px;
                    background-position: center center;
                    background-size: cover;
                }

                .info {
                    padding: 10px;

                    h3 {
                        font-size: 1.2em;
                        font-weight: bold;
                    }

                    p {
                        font-size: .8em;
                        color: rgb(100, 100, 100);
                        margin-top: 5px;
                        line-height: 1.5;

                        // &:after {
                        //     display: block;
                        //     height: 1px;
                        //     width: 10px;
                        //     content: '';
                        //     background-color: $color-main;
                        //     margin-top: 10px;
                        // }
                    }
                }
            }
        }

        @include responsive-to {
            .item {
                width: 450px;

                a {
                    .cover {
                        height: 277px;
                    }

                    .info {
                        padding: 20px 15px;

                        h3 {
                            font-size: 1.4em;
                        }

                        p {
                            font-size: .9em;
                            margin-top: 10px;

                        }
                    }
                }
            }
        }
    }

    @include at-least($content-width-container) {
        .brand-wrap {
            overflow: hidden;
        }

        .brands {
            .item {
                width: 540px;
            }
        }

        .control-prev,
        .control-next {
            display: block;
        }
    }
}

.visual-m {
    .slider {
        overflow: hidden;
    }

    .pagers {

        display: flex;
        justify-content: center;
        align-items: center;

        span {
            display: block;
            width: 10px;
            height: 10px;
            border: 1px solid $color-main;
            border-radius: 6px;
            text-indent: -5000px;
            overflow: hidden;
            margin: 0 2.5px;
            background-color: #fff;
            transition: all .3s;

            &.active {
                width: 20px;
                background-color: $color-main;
            }
        }
    }

    .visual-banners {
        margin: 15px 0 0 0;

        @include clear-float;

        .item {

            width: 100%;
            transition: all .3s;
            width: 284px;
            min-height: 382px;
            opacity: .3;

            &.active {
                opacity: 1;
            }

            a {
                display: block;

                .cover {
                    display: block;
                    border-radius: 16px;
                    overflow: hidden;
                    background-size: cover;
                    background-position: center center;

                    img {
                        display: block;
                        width: 100%;
                    }
                }

                .info {
                    text-align: right;
                    padding: 14px 10px;

                    .name {
                        font-weight: bold;
                        font-size: 1.25em;
                        max-height: 42px;
                        @include text-cut(2);
                    }

                    .pricebar {
                        margin-top: 5px;

                        .selling {
                            strong {
                                font-size: 1.4em;
                            }
                        }
                    }
                }
            }

        }
    }

    @include responsive-to {
        .pagers {
            display: none;
        }

        .timedeal-list {
            @include clear-float;

            .item {
                float: left;
                width: calc(100% / 3);
            }
        }
    }
}
